.newUser{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newUserWrapper{
    /* background-color: blue; */
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newUserForm{
    /* background-color: red; */
    height: 90%;
    width: 70%;
}
.newUserForm .formItems{
    background-color: white;
    width: 94%;
    height: 90%;
    margin: auto;
    padding: 14px;
    flex-wrap: wrap;
    position: relative;
}
.newUserForm .formItems input, .newUserForm .formItems button, .newUserForm .formItems div{
    width: 47%;
    padding: 6px;
    margin: 15px 5px;
}
.newUserForm .formItems img{
    border: 1px solid rgb(223, 218, 218);
    object-fit: contain;
    height: 30%;
    width: 30%;
    border-radius: 10px;
}
.newUserForm .formItems button{
    background-color: purple;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    outline: none;
    color: white;
    transition: all ease-in 0.2s;
    margin-left: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.newUserForm .formItems button:hover{
    background-color: rgb(153, 5, 153);
}
.newUserForm h4{
    text-align: center;
    margin-top: 10px;
    font-weight: 100;
    font-size: 29px;
}


/* Media Queries */
@media screen and (max-width: 674px){
    .newUser{
        flex: 1;
    }
    .newUserWrapper{
        width: 95%;
    }
    .newUserForm{
        width: 90%;
    }
    .newUserForm .formItems{
        /* background-color: blue; */
        width: 96%;
    }
    .newUserForm .formItems input, .newUserForm .formItems button, .newUserForm .formItems div{
        width: 90%;
    }
}







