.data-table{
  /* background-color: red; */
  width: 90%;
  height: 90%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* height: 90%; */
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #800080;
    color: white;
  }

table tbody tr td{
  /* background-color: blue; */
  color: blue;
  font-size: 13px;
}

.pagination{
  /* background: green; */
  margin-top: 10px;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  width: 45%;
}

.pagination button{
  height: 25px;
  width: 25px;
}